<% if @next_training %>
  <div class="page-header">
    <h3>Percentuale di partecipanti al prossimo allenamento di <%= (l @next_training.date, format: :custom).titleize %></h3>
    <% if @next_training.note && !@next_training.note.empty? %>
      <h5 class="text-info lead">
        Nota: <%= @next_training.note %>
      </h5>
    <% end %>
  </div>

  <div class="progress progress-striped active <%= @bar_color_class %>">
    <div class="bar" style="width: <%= @players_percentage > 100 ? 100 : @players_percentage %>%;"><%= @participants_players.count %> [<%= @players_percentage %>%]</div>
  </div>
  
  <% if @all_participants.count > 0 %>
	<table class="table table-striped table-bordered table-condensed">
		<caption><h3>Confermati (<%= @all_participants.count %>)</h3></caption>
    <tr>
      <th class="span3">
        <div class="text-center">Nome</div>
      </th>
      <th class="span9">
        <div class="text-center">Nota</div>
      </th>
    </tr>
		<% @all_participants.each do |participation| %>
		<tr class="<%= participation.present ? 'success' : 'error' %>">
			<td>
        <div class="text-center"><%= participation.player.name %></div>
			</td>
      <td>
        <div class="text-center"><%= participation.note %></div>
      </td>
		</tr>
		<% end %>
	</table>
  <% end %>
  
  <% if @not_confirmed_players.count > 0 %>
	<table class="table table-striped table-bordered table-condensed">
		<caption><h3>Non confermati (<%= @not_confirmed_players.count %>)</h3></caption>
		<% @not_confirmed_players.each do |player| %>
		<tr class="warning">
			<td>
				<div class="text-center"><%= player.name %></div>
			</td>
		</tr>
		<% end %>
	</table>
  <% end %>
<% else %>
<div class="page-header">
  <h3>Ancora nessun allenamento disponibile</h3>
</div>
<% end %>