<div class="page-header">
  <h3>Percentuale di partecipanti al prossimo allenamento di <%= (l @next_training.date, format: :custom).titleize %></h3>
</div>
<div class="progress progress-striped active <%= @bar_color_class %>">
  <div class="bar" style="width: <%= @players_percentage %>%;"><%= @participants_players %> [<%= @players_percentage %>%]</div>
</div>