<%= form_for @player, :html => {:class => 'form-horizontal', :multipart => true} do |f| %>
    <div class="control-group">
        <%= f.label :old_password, 'Vecchia password', :class => 'control-label' %>
        <div class="controls">
            <%= password_field_tag :old_password, nil, :class => 'password_field' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
            <%= f.password_field :password, :class => 'password_field' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :password_confirmation, 'Conferma password', :class => 'control-label' %>
        <div class="controls">
            <%= f.password_field :password_confirmation, :class => 'password_field' %>
        </div>
    </div>

    <div class="form-actions">
        <%= f.submit 'Salva', :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("Annulla")),
                    request.referrer, :class => 'btn' %>
    </div>
<% end %>
